body
{
	
	font-family: 'Raleway', sans-serif;
	background-color:  #66a3ff;
	font-weight: 400;
}
header
{
	text-align: center;
	padding: 15px;
}
header h1
{
	color: #ffffff;
	font-weight: 500;
	font-family: 'Teko', sans-serif;
	font-size: 46px;
}
header p
{
	color: #ffffff;
	font-weight: 400;
	font-size: 24px;
	font-family: 'Teko', sans-serif;
}
section
{
	padding: 10px 30px;
}
.content01
{
	padding: 15px;
	border: 1px solid #0066ff;
	box-sizing: border-box;
	background: #ffffff;
	border-top: 4px solid #ff6600;
	box-shadow: 0px 2px 3px 0px #0066ff;
}
.form-control
{
	border-radius: 0px;
}
.post
{
	margin: 20px 0px 0px 0px;
}
.btn-xl
{
	width: 100%;
	text-transform: uppercase;
	padding: 5px 0px;
}
input[type="submit"] {
    font-size: 110%;
    font-weight: 100;
    background: #ff751a;
    border-color: #ff751a;
	border-radius: 0px;
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
	box-shadow: 0px 0px 0px 0px #ff6600;
	border: 1px solid #ff6600;
}
input[type="submit"]:hover{
    background-color: #ff751a;
	color: #fff;
	border-color: #ff751a;
}
.error {
    color: red;
    font-size: 90%;
}

i{
        color: #2FAC66;
        width: 60px;
        height: 60px;
        border-radius: 60px;
        background: #f2f2f2;
        display: inline-block;
        line-height: 62px;
        font-size: 28px;
    }
